:root {
    /* --primary-color: #4CAF50; */
    --secondary-color: #333;
    --bg-color: #f4f4f4;
    /* --font-family: 'Arial, sans-serif'; */
}


.admin-navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 1000;
}

.admin-navbar__left,
.admin-navbar__center,
.admin-navbar__right {
    display: flex;
    align-items: center;
}

.admin-menu__icon {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: transform 0.3s;
    display: block;
}

.admin-menu__icon:hover {
    transform: rotate(90deg);
}

.company-logo {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    transition: transform 0.3s;
}

.company-logo:hover {
    transform: scale(1.1);
}

.company-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.admin-navbar__comments {
    display: flex;
    align-items: center;
}

.admin-navbar__comments i {
    font-size: 1rem;
    margin-right: 0.5rem;
    transition: transform 0.3s;
}

.admin-navbar__comments i:hover {
    transform: scale(1.2);
}

.admin-navbar__user {
    display: flex;
    align-items: center;
}

.admin__userName {
    margin-right: 0.5rem;
    font-weight: bold;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .admin-navbar {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .admin-navbar {
        width: 100%;
    }
}