/* adminSidebar.css */
.admin-sidebar {
  background-color: #1d2327;
  color: #ffffff;
  height: 100vh;
  width: 11rem;
  /* position: -webkit-sticky; */
  /* position: fixed; */

}

.admin-sidebar ul {
  list-style: none;
  padding: 0.2rem 0.2rem 0.2rem 0.3rem;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

/* .admin-sidebar li {
  padding: 12px 15px;
} */

.admin-sidebar a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  padding: 0.6rem 0.9rem 0.6rem 1.1rem;
}

.admin-sidebar a:hover {
  border-left: 3px solid #2271b1;
  color: #fff;
}

a.active {
  background-color: #2271b1;
  color: #ffffff;
}

a i {
  padding-right: 10px;
}

.admin-sidebar .dropdown {
  display: none;
  background-color: #2c3338;
  color: #c3c4c7;
  /* padding-left: 11px; */
}

.admin-sidebar .dropdown a:hover {
  border-left: 3px solid #2271b1;
  color: #2271b1;

}

.admin-sidebar .dropdown.open {
  display: block;
}

/* .admin-sidebar li:hover .dropdown {
  display: block;
} */

/* .admin-sidebar .dropdown li {
  padding: 8px 0;
} */

.admin-sidebar .dropdown a {
  color: #c3c4c7;
  transition: background-color 0.3s ease;
  font-size: 13px;
  padding: 0.6rem 0.3rem 0.4rem 2.5rem;
  /* padding: 6px 11px; */
}

.admin-sidebar .dropdown a.active {
  background-color: #343a40;
  color: #ffffff;
  border-color: #fff;
}