/* adminLogin.css */
.admin-login-background {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.admin-login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    width: 100%;
    z-index: 1;
}

.admin-login-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.adminLogin__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminLogin__Heading {
    font-size: 28px;
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.adminLogin__message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    /* padding: 16px 20px; */
    margin: 10px 0;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    font-size: 0.8rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

/* Close button */
.adminLogin__close {
    background: none;
    border: none;
    color: #721c24;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* Hover state for close button */
.adminLogin__close:hover {
    color: #b11f2d;
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.adminLogin__error {
    color: #e74c3c;
    text-align: center;
}

.adminLogin__input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 100%;
}

.adminLogin__input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.adminLogin__btn {
    padding: 15px;
    background: linear-gradient(135deg, #3498db, #2980b9);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.adminLogin__btn:hover {
    background: linear-gradient(135deg, #2980b9, #3498db);
    transform: translateY(-2px);
}

.adminLogin__password-container {
    position: relative;
}

.adminLogin__password-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
}

.adminLogin__password-icon:hover {
    color: #3498db;
}

@media (max-width: 480px) {
    .admin-login-container {
        padding: 20px;
        border-radius: 10px;
    }

    .adminLogin__Heading {
        font-size: 24px;
    }

    .adminLogin__input,
    .adminLogin__btn {
        padding: 12px;
        font-size: 14px;
    }
}