/* Base: Mobile First */
.admin-wrapper {
    min-height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.admin-wrapper.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

.admin-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    transition: all 0.3s ease;
}

.admin-main-content {
    flex: 1;
    width: 100%;
    padding: 1rem;
    background-color: #f0f0f1;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .admin-container {
        flex-direction: row;
    }

    .admin-main-content {
        margin-left: 160px;
        /* padding: 2rem; */
        transition: all 0.3s ease;
    }

    .sidebar-collapsed .admin-main-content {
        margin-left: 55px;
        transition: all 0.3s ease;
    }

    .admin-main-content.sidebar-closed {
        margin-left: 0;

    }

}

@media (min-width: 1200px) {
    .admin-main-content {
        margin-left: 160px;
        /* padding: 3rem; */
        transition: all 0.3s ease;
    }
}

@media (min-width: 1800px) {
    .admin-main-content {
        margin-left: 160px;
        /* padding: 4rem; */
        /* max-width: 1600px; */
        margin-right: auto;
        margin-left: auto;
    }

    .sidebar-collapsed .admin-main-content {
        margin-left: 55px;
        transition: all 0.3s ease;
    }
}

/* Dark mode for main content */
.admin-main-content.dark-mode {
    background-color: #2c2c2c;
}

/* Smooth Transition Everywhere */
.admin-container,
.admin-main-content {
    transition: all 0.3s ease;
}