/* .createNew {
    padding: 15px 18px;
} */

.createPost-section {
    background-color: #f9f9f9;
    padding: 20px;
}

.createPost__heading {
    align-items: center;
    display: flex;
    gap: 10px;
    padding-left: 20px;
    /* margin-bottom: 20px; */
    /* justify-content: space-between; */
    margin-bottom: 20px;
    position: fixed;
    /* width: calc(100% - 140px); */
    width: 100%;
    height: 60px;
    top: 55px;
    z-index: 100;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(85, 93, 102, .3);
}

.createPost__title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.createPost__btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createPost__btn:hover {
    background-color: #0056b3;
}

.createNew-grid {
    display: flex;
    gap: 20px;
    margin-top: 5rem;
}

.blog__post {
    flex: 3;
    /* background: #ffffff; */
    /* padding: 20px; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
}

.blog__post:hover {
    transform: scale(1.01);
}

.createPost-sideBar {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.createPost-header {
    background: #f9f9f9;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.createPost-header:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createPost__publish-heading {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.createPost-btn {
    /* background-color: #4caf50; */
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    /* border-radius: 4px; */
    border-radius: 0.25rem;
    /* width: 100%; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createPost-btn:hover {
    /* background-color: #45a049; */
    background-color: #218838;
    transition: background-color 0.3s ease;
}

.createloading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.createPost-header div {
    cursor: pointer;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
}

.createPost-header h3:hover {
    color: #0084ff;
    /* color: #45a049; */
}

.createPost-header h3 {
    font-size: 0.9rem;
    margin: 0;
}

.createPost-header svg {
    transition: transform 0.3s ease;
}

.createPost-header[aria-expanded="true"] svg {
    transform: rotate(180deg);
}

.createPost-header section {
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.createPost-header[aria-expanded="true"] section {
    max-height: 500px;
    /* Adjust as needed */
}

.custom-image-blot-container {
    position: relative;
    display: inline-block;
}

.custom-image-blot-container img {
    display: block;
    max-width: 100%;
}

.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0.7;
}

.remove-button:hover {
    opacity: 1;
}



/* Responsive Design */
@media (max-width: 768px) {
    .createPost__heading {
        top: 78px;
    }

    .createNew-grid {
        flex-direction: column;
    }

    .blog__post {
        flex: 1;
    }

    .createPost-sideBar {
        flex: 1;
    }

    .createPost-section {
        padding: 10px;
    }

    .createPost-header {
        padding: 15px;
    }

    .createPost-btn {
        padding: 8px 16px;
    }

    .createPost__title {
        font-size: 20px;
    }

    .createPost__btn {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {

    .createPost__heading {
        top: 78px;
        flex-direction: column;
        align-items: flex-start;
    }

    .createPost-header h3 {
        font-size: 16px;
    }

    .createPost-btn {
        width: 100%;
        text-align: center;
    }

    .createPost__title {
        font-size: 18px;
    }

    .createPost__btn {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }

}



.createNew-grid {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    gap: 20px;
}

.createNew__title {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #2c3338;
}

.createNew__title:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.ql-toolbar.ql-snow {
    border-radius: 6px;
}

.ql-container.ql-snow {
    border-radius: 6px;
    min-height: 500px;
}


::placeholder {
    font-size: 1.1em;
    padding: 3px 5px;
}

/* for content section */
.formContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    max-width: 800px;
    margin: auto;
}

.formContent:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.formContent__main {
    margin-top: 22px;
}

.media-main {
    display: flex;
    justify-content: space-between;
}

/* .addMedia__btn {} */

.addMedia__btn i {
    padding-right: 5px;
}

.addMedia__btn button {
    border-radius: 4px;
    padding: 2px 10px;
    line-height: 2.1;
    color: #2271b1;
    border: 1px solid #2271b1;
    background: #f6f7f7;
    vertical-align: middle;
    font-size: 14px;
    min-height: 30px;
    cursor: pointer;
}

/* .editor__tab {
    background: #f6f7f7;
    color: #50575e;
    border-bottom-color: #f6f7f7;
} */

.writting__icons {
    display: flex;
    /* gap: 18px; */
    margin-top: 6px;
    /* margin-bottom: 10px; */
    border: 1px solid #8c8f94;
    padding: 7px;
    vertical-align: middle;
    background: transparent;

}

.writing-select {
    font-size: 13px;
    line-height: 1.5;
    padding-left: 6px;
    padding-right: 20px;
    text-align: left;
    width: 140px;
    height: 26px;
    outline: none;
    margin-right: 10px;
}

.writtenIcon {
    color: #50575e;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 11px;
    margin: 1px
}

.writtenIcon:hover {
    background: #f6f7f7;
    border: 1px solid #50575e;
    outline: none;
    color: #50575e;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
    border-radius: 2px;
}


.writtenIcon.active {
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .3);
    border: 1px solid #50575e;
    border-radius: 2px;
    /* Add border for active state */
    background-color: #f0f0f1;
    /* Add background color for active state */
    color: #50575e;
    /* Add color for active state */
}

.textarea,
.content-editable {
    width: 100%;
    height: 400px;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 18px;
    outline: none;
    line-height: 100%;
    padding: 10px;
    /* overflow: hidden; */
    border-radius: 0;
    border: 1px solid #8c8f94;
}


/* For Publish section */
.createPost-publish {
    background: #ffff;
    border: 1px solid #c3c4c7;
    /* height: 239px; */
    margin-bottom: 20px;
}

.createPost-publish-main {
    padding: 8px 12px;
    align-items: center;
    border-bottom: 1px solid #c3c4c7;
    display: flex;
    justify-content: space-between;
    cursor: move;
}

.createPost-publish__title {
    font-size: 14px;
    font-weight: 400;
}

/* alert massage */
.message {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left: 5px solid #00a32a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    display: flex;
    font-size: 14px;
    margin: 12px 0;
    padding: 8px 10px;
    transition: opacity 0.3s, height 0.3s;
    justify-content: space-between;
    opacity: 1;
}

.message__btn::before {
    content: "\2716";
    color: #787c82;
    cursor: pointer;
}

.no-network {
    border-left: 5px solid #c10000;
}

.network-spinner {
    margin: 1px;
}

.createPost-publish-main i {
    cursor: pointer;
}

.createPost-publish__button {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;

}

.btn__action {
    border: 1px solid #2271b1;
    background: #f6f7f7;
    /* border-color: #2271b1; */
    border-radius: 3px;
    color: #2271b1;
    font-size: 12px;
    padding: 4px 5px;
    vertical-align: top;
    cursor: pointer;
}

.spinner {
    background: url(../images/spinner-2x.gif) no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    /* visibility: hidden; */
    vertical-align: middle;
    opacity: .7;
    width: 20px;
    height: 20px;
    margin: 0 10px 0;
}

.publishing-actions {
    /* padding: 8px 15px; */
    font-size: 13px;

}

.post-actions {
    padding: 6px 10px 8px;
    color: #5b5b5b;
}

/* .post-status {} */

.visibility-options {
    margin-top: 5px;
    line-height: 1.9;
    padding: 0px 8px
}

.radioData {
    margin-right: 10px;
    vertical-align: middle;
}

.postbox i {
    font-size: 15px;
    color: #8c8f94;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 12px;
    width: 30px;
}

.post-display {
    color: #385979;
    font-weight: 600;
    margin-left: 5px;
}

.post-edit {
    color: #2271b1;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 5px;
}

.date-time-select {
    margin-top: 5px;
}

.dateTime__select {
    vertical-align: middle;
    font-size: 13px;
    line-height: 2.3;
    color: #2c3338;
    border: 1px solid #8c8f94;
    border-radius: 3px;
    padding: 0 2px 0 8px;
    min-height: 30px;
    cursor: pointer;
    outline: none;
}

.dataTime__input {
    text-align: center;
    width: 2em;
    padding: 6px 1px;
    font-size: 12px;
    line-height: 1.6;
    vertical-align: middle;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background: #fff;
    color: #2c3338;
    margin: 0 3px;
    outline: none;
}

.year__input {
    width: 3em;
}

.publish__actions {
    background: #f6f7f7;
    border: 1px solid #dcdcde;
    clear: both;
    /* display: flex; */
    font-size: 12px;
    /* justify-content: space-between; */
    padding: 12px;
    position: relative;
    height: 57px;

}

.delete-button {
    /* position: absolute;
    top: 12px;
    left: 12px; */
    float: left;
}

/* .publish-spinner-btn {
    position: absolute;
    top: 3px;
    left: 2px;
} */

.publish__button {
    float: right;
    /* position: absolute;
    top: 12px;
    left: 199px; */
}

.publish__actions__btn {
    background: #2271b1;
    color: #fff;
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid #2271b1;
    border-radius: 4px;
}





@media (min-width: 768px) {}