.dashboard {
    padding: 15px 18px;
}

.dashboard-title {
    font-size: 24px;
    font-weight: 400;
}

.dashboard-content {
    background: #fff;
}

.dashboard-content__main {
    background-color: black;
    padding: 60px;
    color: azure;
    margin-top: 10px;
}

.dashboard-content__title {
    font-size: 50px;
    font-weight: 400;
}

.dashboard-content__main a {
    color: #fff;
    font-size: 18px;
}

.dashboard-panel-container {
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    clear: both;
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-top: 20px; */
    padding: 37px;
    gap: 26px;
}

.dashboard-panel-column {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 24px;
}

.dashboard-panel-content h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #1d2327;

}

.dashboard-panel-content p {
    font-size: 13px;
    line-height: 1.4;
    color: #3c434a;
    padding: 10px 0;
}

.dashboard-panel-content a {
    font-size: 14px;
    line-height: 1.4;
    color: #2271b1;

}