@import url("./main.css");
@import url("./mixin.css");

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2rem 0;
    background-color: var(--very-light-gray);
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .App {
        gap: 20px;
        padding: 4rem 0;
    }
}