.big-save {
    width: 100%;
    padding: 20px 10px;
    background-color: #4c10c0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigSave__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

/* .bigSave__promo-container {

} */

.big-save-banner {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 18px;
    object-fit: cover;
}

.bigSave__cards-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.bigSave__product {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
}

@media (min-width: 768px) {
    .bigSave__wrapper {
        flex-direction: row;
        align-items: center;
    }

    .big-save-banner {
        max-width: 280px;
        height: 320px;
    }
}

@media (min-width: 1024px) {
    .bigSave__wrapper {
        justify-content: space-between;
    }

    .big-save-banner {
        max-width: 320px;
        height: 352px;
    }
}

@media (min-width: 1440px) {
    .bigSave__wrapper {
        max-width: 1600px;
        gap: 30px;
    }

    .big-save-banner {
        max-width: 400px;
        height: 400px;
    }
}

/* 
.bigSave-arrowBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 100;
}

.bigSave__leftBtn {
    border-radius: 50px 50px 50px 50px;
    left: 10px;
    padding-left: 10px;
}

.bigSave__nextBtn {
    right: 18px;
    border-radius: 50px 50px 50px 50px;
}

.bigSave__iconBtn {
    font-size: 20px;
    color: #333;
}

.hide-arrow {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.show-arrow {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.bigSave__cards-wrapper:hover .hide-arrow {
    opacity: 1;
    pointer-events: auto;
} */