.big-save {
    padding: 5px 0px;
    background-color: #f6f6f6;
    display: flex;
    height: 360px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.big-save-header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    width: 21%;
    height: 460px;
}

.big-save-banner {
    background: url("../images/designNow.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    background-color: #ff6f61;
    padding: 20px;
    border-radius: 24px;
    height: 74%;
    width: 100%;
    min-width: 240px;
}

.shop-now-btn {
    background-color: #ff6f61;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bigSave__product {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    /* height: 460px; */
    transition: transform 0.5s ease-in-out;
    /* width: calc(100% * 12); */

}

.bigSave__cards-wrapper {
    flex: 2;
    overflow: hidden;
    position: relative;
    /* width: 100%; */
    /* max-width: 1200px; */
    margin: 0 auto;
}

.bigSave-arrowBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 100;
}

.bigSave__leftBtn {
    border-radius: 50px 50px 50px 50px;
    left: 10px;
    padding-left: 10px;
}

.bigSave__nextBtn {
    right: 18px;
    border-radius: 50px 50px 50px 50px;
}

.bigSave__iconBtn {
    font-size: 20px;
    color: #333;
}

.hide-arrow {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.show-arrow {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.bigSave__cards-wrapper:hover .hide-arrow {
    opacity: 1;
    pointer-events: auto;
}