.cat3__main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* padding: 20px 0px; */
    background-color: #4c10c0;
    /* background-color: #f8f8f8; */

}

.cat3__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 15px;
}

/* Left Side - Product Cards */
.cat3__cards-container {
    /* flex: 2; */
    overflow: hidden;
    position: relative;
    /* width: 100%; */
    /* max-width: 1200px; */
    margin: 0 auto;
}

.cat3__product-list {
    display: flex;
    /* overflow-x: auto; */
    gap: 15px;
    /* height: 460px; */
    transition: transform 0.5s ease-in-out;
    /* width: calc(100% * 12); */
}

.cat3__arrowBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 100;
}

.categoryOne__leftBtn {
    border-radius: 50px 50px 50px 50px;
    left: 10px;
    padding-left: 10px;
}

.categoryOne__iconBtn {
    font-size: 20px;
    color: #333;
}

.cat3__arrow-next,
.cat3__arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cat3__arrow-prev {
    left: -20px;
}

.cat3__arrow-next {
    right: -20px;
}

.show-arrow {
    opacity: 1;
}

.hide-arrow {
    opacity: 0;
}

/* Right Side - Image */
.cat3__promo-container {
    /* flex: 1; */
    text-align: center;
    /* order: 1; */
}

.cat3__promo-image {
    /* width: 100%; */
    max-width: 300px;
    border-radius: 17px;
    object-fit: cover;
    height: 352px;

}