.navbar-category-menus {
    position: relative;
    margin-right: 20px;
    display: none;
}

.navbar-category-mobile {
    display: block;
}

.category-dropdown {
    position: relative;
}

.category-button {
    background: transparent;
    border: 1px solid #fff;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 16px;
    /* font-weight: bold; */
    border-radius: 25px;
    color: #fff;
}

.navCategory {
    position: absolute;
    background: #fff;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.category-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    position: relative;
}

.category-item:hover {
    background: #f8f8f8;
}

.subcategories {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    visibility: visible;
}

.subcategory-item {
    font-size: 14px;
    font-weight: bold;
}

.subcategory-item ul {
    list-style: none;
    padding: 0;
}

.subcategory-item ul li {
    font-size: 12px;
    color: #555;
    padding: 5px 0;
    cursor: pointer;
}

.subcategory-item ul li:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .navbar-category-menus {
        display: block;
        margin-right: 20px;
    }

    .category-button {
        padding: 8px 30px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}