.currency-wrapper {
    position: relative;
    display: inline-block;
}

.currency-dropdown {
    cursor: pointer;
    /* background-color: #fff; */
    border: 1px solid #ccc;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.currency-button {
    font-weight: bold;
}

.dropdown-arrow {
    margin-left: 5px;
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.currency-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    color: #000;
    width: 120px;
    top: 100%;
    left: 0;
    border-radius: 5px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    z-index: 1000;
}

.currency-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.currency-item:hover {
    background-color: #f0f0f0;
}