.exclusiveDeal-main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    /* padding: 20px; */
    /* background: #fff; */
    max-width: 1200px;
    margin: 20px auto;
    height: 745px;
}

@media (min-width: 768px) {
    .exclusiveDeal-main {
        flex-direction: row;
        height: 608px;
    }
}

/* Base styles: Mobile-first */
.buyFrom10k {
    width: 100%;
    padding: 16px;
    text-align: center;
}

.buyFrom10k__offer {
    background: rgb(255, 250, 213);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    padding: 20px;
    text-align: left;
}

.buyFrom10k__offer-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.buyFrom10k__shipping {
    color: #fd384f;
    font-weight: 600;
    font-style: italic;
}

.shipping__flex {
    display: flex;
}

.buyFrom10k__offer-label {
    background: #febd69;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    padding: 6px 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.buyFrom10k__offer-subtitle {
    font-size: 0.9rem;
    color: #666;
    /* margin-bottom: 20px; */
    display: block;
}

.buyFrom10k__products {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buyFrom10k__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.buyFrom10k__productImage {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.buyFrom10k__productPrice {
    font-size: 1rem;
    font-weight: 500;
    color: #fd384f;
}

.buyFrom10k__priceContainer {
    position: relative;
}

.buyFrom10k__discount {
    position: absolute;
    top: 0;
    right: 0;
    background: #fd384f;
    color: #fff;
    border-radius: 999px;
    font-size: 0.8rem;
    padding: 5px 8px;
}

/* Responsive styles */
@media (min-width: 600px) {
    .buyFrom10k__products {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        margin-top: 20px;
    }

    .buyFrom10k__product {
        /* width: 48%; */
        display: flex;
        /* flex-direction: column; */

    }
}

@media (min-width: 900px) {
    .buyFrom10k__offer {
        padding: 10px
    }

    .buyFrom10k__offer-title {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    .buyFrom10k__offer-label {
        padding: 3px 6px;
    }

    .buyFrom10k__product {
        width: 30%;
    }

    .buyFrom10k__productImage {
        height: 160px;
    }
}

@media (min-width: 1200px) {
    .buyFrom10k {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .buyFrom10k__offer-title {
        font-size: 1.3rem;
    }

    .buyFrom10k__productImage {
        height: 115px;
    }
}

@media (min-width: 1600px) {
    .buyFrom10k__product {
        width: 30%;
    }

    .buyFrom10k__productImage {
        height: 120px;
    }
}