.navbar {
    align-items: center;
    background-color: #232f3e;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 8px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    /* margin-bottom: 40px; */
    z-index: 1000;
}

.navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px
}

.navbar__mobile_right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 66px;
}

.navbar-header-main {
    display: flex;
    margin-right: 30px;
}

.navbar-header-actions {
    display: flex;
}

.currency-main {
    position: relative;
}

.navbar-brand {
    display: flex;
    align-items: center;
    /* margin-right: 20px; */
    margin-bottom: -10px;
}

.brand-logo {
    height: 25px;
    margin-left: 15px;
    transition: transform 0.3s ease-in-out;
}

.brand-logo:hover {
    transform: scale(1.1);
}

.category-select {
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    width: 5rem;
}

.navbar-category-mobile {
    display: block;
}

.navbar-user-mobile {
    display: block;
}

.navbar-actions {
    /* display: flex; */
    align-items: center;
    display: none;
}

.navbar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
    inset: 0;
    /* backdrop-filter: blur(6px); */
    transition: all 0.3s ease;
}

.navbar-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;

}

.navbar-burger span {
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.navbar-burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar-burger.open span:nth-child(2) {
    opacity: 0;
}

.navbar-burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.navbar-menu {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    /* right: 10px; */
    background: #232f3e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 90vw;
    z-index: 1001;
    padding: 0;
    height: auto;
}

.navbar-menu.is-active {
    max-height: 100vh;
    height: 100vh;
    width: 90vw;
    opacity: 1;
    transform: translateY(0);
    padding: 10px;
}


.navbar-menu a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.navbar-menu a {
    background-color: #131a22;
}

@media (min-width: 768px) {
    .navbar {
        padding: 10px 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        /* margin-bottom: 40px; */
    }

    .navbar-brand {
        margin-right: -33px;
        margin-bottom: -10px;
    }

    .brand-logo {
        height: 35px;
    }

    .navbar-actions {
        display: flex;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-user-mobile {
        display: none;
    }

    .navbar-cart-mobile {
        display: none;
    }

    .navbar-burger {
        display: none;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1920px) {
    .search-input {
        font-size: 1.1rem;
    }

    .navbar-cart-text {
        font-size: 1rem;
    }
}

@media (min-width: 2560px) {
    .navbar-cart-text {
        font-size: 1rem;
    }
}