.productCard {
    background-color: #ffffff;
    /* padding: 15px; */
    border-radius: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* min-width: 220px; */
    min-width: 245px;
    width: 100%;
    /* height: 76%; */
    height: 355px;
    border: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    z-index: 99;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 20;
    margin: 0;
}

.productCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.productCard__productImage {
    width: 100%;
    display: inline-block;
    /* pointer-events: none; */
    object-fit: cover;
    height: 52%;
    border-radius: 24px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.productCard__content {
    padding: 0px 13px 5px 13px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
}

.productCard__product-name {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 50%; */
}

.productCard__image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.productCard__productImage--blurred {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.productCard__productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.productCard__image-wrapper.loaded .productCard__productImage {
    opacity: 1;
}

.productCard__image-wrapper.loading .productCard__productImage--blurred {
    opacity: 1;
}

.productCard__image-wrapper.loaded .productCard__productImage--blurred {
    opacity: 0;
}