.navbar-search {
    align-items: center;
    display: flex;
    flex: 1;
    /* margin: 0 20px; */
    /* margin-top: 8px; */
    margin-left: auto;
}

.search-input {
    flex: 1;
    height: 30px;
    padding: 0 10px;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    min-width: 17rem;
}

.search-input:focus {
    box-shadow: 0 0 5px rgba(255, 182, 0, 0.8);
}

.search-button {
    height: 30px;
    width: 30px;
    background-color: #febd69;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s ease-in-out;
}

.search-button i {
    color: #111;
}

@media (min-width: 768px) {
    .navbar-search {
        margin-left: auto;
        margin-right: 20px;
    }

    .search-input {
        height: 40px;
    }

    .search-button {
        height: 40px;
        width: 40px;
    }


}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {
    .search-input {
        font-size: 1.1rem;
    }
}

@media (min-width: 2560px) {
    .search-input {
        font-size: 1.1rem;
    }
}