.user-profile {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    transition: margin-left 0.3s, margin-right 0.3s;
    min-height: 100vh;
    /* min-width: 328px; */
    width: 100%;
    position: relative;

}

/* .user-profile.left-sidebar-open {
    padding-left: 250px;
} */

/* .main-content {
    flex: 1;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
} */
.sidebar-left {
    border-radius: 10px;
    /* width: 20%; */
    width: 250px;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 99;
    transition: transform 0.3s ease;
    border-right: 1px solid #eaeaea;
    left: 0;
    transform: translateX(-100%);
}

.sidebar-left.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
    margin-top: 70px;
    width: 235px;
    position: absolute;
}

.sidebar-left.closed {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar-toggle-left {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: flex-end;
    padding: 10px;
}

.sidebar-toggle-left.closed {
    justify-content: flex-start;
    margin-top: 100px;
}

.sidebar-toggle-left .open__icon,
.sidebar-toggle-right .closed__icon {
    font-size: 20px;
}

.sidebar-toggle-left.closed .closed__icon,
.sidebar-toggle-left.closed .content-open {
    display: flex;
    align-items: center;
}

.sidebar-right {
    border-left: 1px solid #eaeaea;
    border-radius: 10px;
    /* width: 250px; */
    width: 95%;
    background-color: #fff;
    padding: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.main-content {
    width: 60%;
    flex: 1;
    /* padding: 20px;
    margin-left: 0;
    margin-right: 0; */
    transition: margin-left 0.3s, margin-right 0.3s;
    margin: 0;
    padding: 10px;
}


.main-content:hover {
    transform: scale(1.0);
}

.profile-section {
    /* text-align: center; */
    margin-bottom: 20px;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.menu a {
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu-icon {
    margin-right: 10px;
}

.userUpgrade {
    align-items: center;
    background-image: url("../images/bac1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffab00;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
    transition: background 0.3s;
    padding: 10px 15px;
    height: 150px;
}

.upgrade-btn:hover {
    background-color: #e89a00;
}

.upgrade__btn {
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.7rem;
    outline: none;
    padding: 8px;
    border: none;
}

.open__icon,
.closed__icon {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s;

}

.open__icon .closed__icon:hover {
    color: #4CAF50;
}

.schedule {
    margin-top: 20px;
}

.calendar {
    margin-bottom: 20px;
}

.calendar h2,
.schedule h2 {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 22px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    font-size: 12px;
}

@media (max-width: 768px) {
    /* .user-profile {
        flex-direction: column;
        width: 100%;
    } */

    .sidebar-right,
    .main-content {
        width: 100%;
    }

    /* .sidebar-left {
        width: 20%;
    } */

    /* .main-content {
        margin: 0;
        padding: 10px;
    } */

    /* .stats {
        flex-direction: column;
        align-items: center;
    } */

    /* .sidebar-toggle-left {
        display: flex;
    } */
}