.footer {
    background: #000;
    display: grid;
    padding: 35px;
    margin-top: 50px;
}

.footer__contact {
    color: #fff;
    /* padding: 15px; */
    font-size: 1em;
    line-height: 35px;
    font-weight: 400;
}

.footer__contact h1 {
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 10px;
}

.footer__contact ul li {
    list-style: none;
    text-decoration: none;
}

.footer__contact a {
    text-decoration: none;
    color: #fff;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-icon {
    fill: #fff;
    padding-right: 10px;
}

.address {
    display: flex;
    align-items: center;
}

.address-icon {
    fill: #fff;
    padding-right: 10px;
}

.email {
    display: flex;
    align-items: center;
}

.email-icon {
    padding-right: 10px;
}

/* footer__useful-link */

.footer__useful-link {
    color: #fff;
    /* padding: 15px; */
    font-size: 1em;
    line-height: 35px;
    font-weight: 400;
}

.footer__useful-link h1 {
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 10px;
}

.footer__useful-link ul li {
    list-style: none;
    text-decoration: none;
}

.footer__useful-link a {
    text-decoration: none;
    color: #fff;
}

.footer__newsletter {
    color: #fff;
    padding-top: 20px;
}

.footer_newsletter-form {
    display: flex;
    align-items: center;
    /* padding: 10px;
    margin-top: 15px; */
}

.footer_newsletter-form input {
    padding: 10px;
    margin-top: 15px;
}

.footer_newsletter-form button {
    padding: 15px;
    height: 48px;
    margin-top: 15px;
    background-color: #920300;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border-radius: 5px; */
}

.search-icon {
    fill: #fff;
    /* font-size: 1em; */
}

.footer__openTime {
    color: #fff;
    text-align: start;
    padding-top: 30px;
    text-transform: uppercase;
}

.footer__openTime p {
    text-transform: initial;
}

.footer__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dadada;
    padding: 20px 15px;
    /* color: #fff; */
}

.footer__footer h1 {
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
}

.footer__footer h2 {
    font-weight: 300;
    font-size: 1em;
    text-transform: capitalize;
}

.footer__payment-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 20%; */
    object-fit: contain;
    /* padding-right: 20px; */
}

.visa {
    margin-left: 10px;
}

/* .paystack {
    margin-right: 10px;
} */

.strip {
    margin-right: 10px;
}



@media (min-width: 768px) {
    .footer {
        grid-template-columns: 150px 248px 150px 1fr 1fr;
        gap: 10px;
    }

    .footer__footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }

    .footer__openTime {
        padding-top: 0;

    }

    .footer__newsletter {
        padding-top: 0;
    }

    .slides-button {
        top: 60%;
    }
}