h1 {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-weight: 600;
}

h2 {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

h4 {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-weight: 400;
}

.brandcard {
    /* border: 1px solid #000; */
    border-radius: 5px;
    cursor: pointer;
    height: 350px;
    margin: 0rem 0rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-right: 25px;
}

.brandcard__image {
    height: 100%;
    background-size: contain;
    background-position: center;
}

.brandcard__content {
    font-family: "Poppins";
    color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 15px;
}

.brandcard__title {
    font-size: 25px;
    padding-top: 10px;
    font-weight: 700;

}

/* .title {
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
} */

.header {
    font-family: "Poppins";
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 5px;
    text-transform: lowercase;
}

.brandcard__subtitle {
    padding-bottom: 0px;
    color: #000;
    font-weight: 500;
    line-height: 20px;
}

.brandcard__btn {
    padding: 8px 9px;
    background-color: #920300;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.7em;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 260px;
    margin-left: 15px;
}

.brandcard__btn:hover {
    background: #651211;
}

@media (min-width: 768px) {
    .brandcard {
        width: 100%;
    }

    .slides-button {
        top: 60%;
    }
}