.checkout-main {
    display: grid;
}

.address-main {
    display: flex;
    color: #c45500;
}

.address-main span {
    font-size: 30px;
    font-weight: 700;
}

.address-main h1 {
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
}

@media (min-width: 768px) {
    .checkout-main {
        grid-template-columns: 3fr 1fr;
    }
}