.faqSection__header {
    text-transform: uppercase;
    font-size: 1.2em;
    width: 70%;
    line-height: 30px;
    padding-bottom: 20px;
}

.faqSection {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.faqSection__image {
    width: 100%;
}

@media (min-width: 768px) {

    .faqSection__header {
        text-transform: uppercase;
        font-size: 2em;
        width: 35%;
        padding-bottom: 10px;
        line-height: 44px;
    }

    .faqSection {
        flex-direction: row;
    }

    .faqSection__image {
        width: 50%;
    }
}