.App-logo {
    /* height: 50px;
    padding: 0; */
    width: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* Navbar */
.nav-main {
    background: #000;
}

.navbar__main {
    /* margin: 0.2rem; */
    background: #000;
    padding-bottom: 0.4px;

}

.header__contact {
    display: none;
    /* margin: 1rem 0.5rem 0.3rem 0.5rem; */
    color: #95979d;
    /* border: 1px solid #000; */
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.hide-contact {
    display: none;
}

.show-search {
    display: block;
}

.show-links {
    display: flex;
}

.search-section {
    display: none;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.5rem 10px;
    padding: 7px;
}

nav {
    margin: 0;
    /* padding: 10px; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: black; */
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu__icon {
    width: 30px;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
    margin-left: 20px;
}

.right-section a {
    text-decoration: none;
    color: #000;
}

.nav-login {
    padding-right: 20px;

}

.join {
    background: transparent;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #920300;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    color: #920300;
}

.join:hover {
    background: #920300;
    color: #fff;
}

.navbar-links {
    display: none;
    color: #000;
    position: relative;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 1em;
    display: flex;
}

.toggle-icon {
    cursor: pointer;
}

.toggle-icon svg {
    width: 30px;
    height: 23px;
    display: block;
}

/* nav .active {
    background-color: red;
    border-radius: 10px;
    padding: 5px;
} */

.icon {
    display: none;
}

.cart-icon {
    margin-top: 5px;
    margin-left: -11px;
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    transition: opacity 0.5s ease-in;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 23px;
    background-color: #fff;
    width: 290px;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in;
}

.toggle-menu-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mobile-App-logo {
    width: 50px;
    height: 50px;
}

.close-icon {
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 48px;
    font-weight: 600;
}

.nav-links a {
    color: #95979d;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-links a:hover {
    color: #1dbf73;
}

@media (min-width: 768px) {
    .header__contact {
        display: flex;
        justify-content: flex-end;
    }

    .toggle-icon {
        display: none;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        font-size: 1em;

    }

    .navbar-links a {
        margin-bottom: 0;
        margin-right: 10px;
        text-transform: uppercase;
        padding: 10px 8px;
        font-weight: 500;
        color: #393b40;
    }

    .navbar-links .active {
        background: #920300;
        color: #fff;
        padding: 10px 30px;
        border-radius: 20px;
    }

    .middle-section {
        display: block;
    }

    .icon {
        position: relative;
        margin-left: 20px;
        display: flex;
    }

    .icon img {
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .badge-nav {
        position: absolute;
        top: -1px;
        right: -5px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #ff4c4c;
        color: #fff;
        font-size: 12px;
    }

    .search-section {
        display: block;
    }
}