.singleProduct-main {
    display: grid;
}

.singleProduct-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.singleProduct-left img {
    width: 50%;
    height: auto;
    object-fit: cover;
}


.product-image-container {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.product__video-main {
    position: relative;
    background: #000;
    /* width: 200px; */

}

.product__video-main::after {
    background: url(/public/play-button.png) no-repeat;
    background-size: 80px;
    content: "";
    height: 80px;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 80px;
    transform: translate(-50%, -50%);
    z-index: 99;
    cursor: pointer;

}

.product-video {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.singleProduct-thumbnail {
    display: flex;
    order: 1;
}

.singleProduct-thumbnail img,
.thumbnail__video {
    width: 55px;
    height: 55px;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

#selected {
    border: 2px solid blue;
}

.smallImage {
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .singleProduct-main {
        grid-template-columns: 3fr 3fr 1.5fr;
        gap: 10px;
    }

    .singleProduct-left {
        flex-direction: row;
    }



    .singleProduct-thumbnail {
        flex-direction: column;
        order: 0;
    }
}