.singleProduct-main {
    display: grid;
}

.singleProduct-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.singleProduct-left img {
    width: 50%;
    height: auto;
    object-fit: contain;
}


.product-image-container {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.singleProduct-thumbnail {
    display: flex;
    order: 1;
}

.singleProduct-thumbnail img,
video {
    width: 55px;
    height: 55px;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

#selected {
    border: 2px solid blue;
}

.smallImage {
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .singleProduct-main {
        grid-template-columns: 3fr 3fr 1.5fr;
        gap: 10px;
    }

    .singleProduct-left {
        flex-direction: row;
    }



    .singleProduct-thumbnail {
        flex-direction: column;
        order: 0;
    }
}